:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  margin: 0;
  background-image: url(../public/halloween-bg.jpeg);
  background-attachment: scroll;
}

.app-container{
  display: flex;
  justify-content: center;
  margin: 0;
}

/* label */
.label-name{
  display: flex;
  flex-direction: column;
}

.label-name input{
  margin-top: 20px;
}

.header-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
  color: #ffffff;
  margin: 0;
  min-height: 50px;
}

.header-img{
  max-width: 80px;
}

.multistep-form-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color:rgb(32, 32, 32);
  background-repeat: repeat;
  color: #fff;
  flex-wrap: wrap;
  padding : 2em ;
}

.header-container h1{
  font-size: 28px;
  font-weight: 600;
  margin: 0;
  padding-left: 20px;
  align-items: center;
}

/* Name question */
.name-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.multistep-form-paragraphs-container{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.multistep-form-paragraphs-container h2{
  font-size: 18px;
}

.multistep-form-survey-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}

.name-input-label-container{
  display: flex;
  flex-direction: column;
}

.questions{
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
  color:#ffee70;
}

.name-input-label-container input{
  margin-bottom: 20px;
  height: 30px;
  border-radius: 20px;
  border: none;
  padding: 0 1em;
}

.survey-container{
  margin: 20px;
}

.survey-title{
  margin-top: 80px;
  background-color: black;
  color: rgb(250, 255, 99);
  text-align: center;
  font-size: 38px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 20px;
}

.survey-time{
  font-size: 16px;
  color:#e2e2e2;
  text-align: center;
}

/* buttons */
.multistep-form-buttons-container{
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.back-btn,
.next-btn,
.submit-btn {
  width: 70px;
  height: 40px;
  border-radius: 20px;
  border: none;
  margin: 5px;
  font-weight: 600;
}

.back-btn:hover,
.next-btn:hover,
.submit-btn:hover {
  background-color: rgb(247, 111, 0);
  color:rgb(255, 255, 255);
}

input[type="range"] {
  width: 100%;
  margin: 20px 10px;
}

/* ScaryLevel */
.slider-main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  
}
.slider-bar{
  accent-color: darkorange;
  max-width: 300px;
}

.scary-level-options{
  text-align: center;
}


/* Character container */
.character-question-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.select-btn{
  width: 150px;
  height: 30px;
  border-radius: 20px;
  margin-top: 10px;
}

/* HeadItem */
.radio-btn-headitems{
  display: flex;
  flex-direction: column;
  
}

.head-items-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}

.headitems-img{
  max-width: 200px;
  padding-right: 20px;

}

/* Face item */

.faceitems-img{
  max-width: 200px;
  padding-right: 20px;
}
.faceitems-img-container{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

/* Report */
.submit-img-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.submit-img{
  max-width: 300px;
}

@media (max-width:641px)  {
  .headitems-img {
      width: 125px;
  }
}

.stepProgress{
  color: #fff;
  text-align: right;
}

.email-input {
  margin-bottom: 20px;
  height: 30px;
  border-radius: 20px;
  border: none;
  padding: 0 1em;
}

.invalidMsg {
  color: red;
}

.survey-container{
  max-width: 550px;
}

.ghost{
  text-align: center;
}

@media screen and (max-width: 750px) {
  .survey-title{
    margin-top: 100px;
    font-size: 28px;
  }
}