:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  margin: 0;
  background-image: url(../public/halloween-bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.app-container{
  display: flex;
  justify-content: center;
  margin: 0;
}

.header-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: black;
  color: #fff;
  margin: 0;
  min-height: 50px;

}

.multistep-form-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color:rgb(32, 32, 32);
  background-repeat: repeat;
  color: #fff;
  flex-wrap: wrap;
}

.header-container h1{
  font-size: 28px;
  font-weight: 600;
  margin: 0;
  padding-left: 20px;
  align-items: center;
}

/* Name question */
.name-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.multistep-form-paragraphs-container{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.multistep-form-paragraphs-container h2{
  font-size: 18px;
}

.multistep-form-survey-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}

.name-input-label-container{
  display: flex;
  flex-direction: column;
}

.questions{
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
}

.name-input-label-container input{
  margin-bottom: 20px;
  height: 30px;
  border-radius: 20px;
  border: none;
}

.survey-title{
  margin-top: 150px;
  background-color: black;
  color: rgb(250, 255, 99);
  text-align: center;
  font-size: 38px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 20px;
}

.survey-time{
  font-size: 14px;
  color:rgb(119, 119, 119);
}

/* buttons */
.multistep-form-buttons-container{
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.back-btn,
.next-btn,
.submit-btn {
  width: 70px;
  height: 40px;
  border-radius: 20px;
  border: none;
  margin: 5px;
  font-weight: 600;
}

.back-btn:hover,
.next-btn:hover,
.submit-btn:hover {
  background-color: rgb(247, 111, 0);
  color:rgb(255, 255, 255);
}

input[type="range"] {
  width: 100%;
  margin: 20px 10px;
}

/* ScaryLevel */

.slider-bar{
  accent-color: darkorange;
  max-width: 300px;
}

.scary-level-options{
  text-align: center;
}


/* Character container */
.character-question-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.select-btn{
  width: 150px;
  height: 30px;
  border-radius: 20px;
  margin-top: 10px;
}